#headerStyling {
    background-color: white;
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#logoSearch {
    border: 1px solid blue;
    display: flex;
    max-height: 100px;
    flex-grow: 2%;  
}

#navigation {
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.navigationInner {
    width: 100%;
    display: flex;
}

.navIcon {
    width: 20%
}

#communication {
    border: 1px solid red;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 40%;

}



.right_Main_nav{
   border-radius: 20px;
   background-color: rgb(129, 69, 69);
}

.Center_Main_Table{
    background-color: white;
    width:auto;
}
.left_nav_Main{
    display:row;
    border:green;
 

}
.main_c_primary{
    display: flex;
    flex-direction: row;
    background-color: bisque;
    justify-content: space-between;

}
table,th,td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
.mdl-list{
    list-style-type: none;
    color: blue;

}
.navIcon {
    width: 5%;

}
.imag_Anzeige{
    width: 30%;
    float:none;
    width: 100px;
    height: 100px;
}
.Anzeige_class_praimary{
    background-color: beige;
    
}
.Freundschaftsanfragen{
    background-color: gold;

}
